
a {
    text-decoration: none;
    cursor: pointer;
}

span {
    pointer-events: none;
}

img{
    object-fit: cover;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
